@model IEnumerable<TSOnline.Models.TRASUA>

@foreach (var item in Model)
{
    <div class="single_banner_slider">
        <div class="row">
            <div class="col-lg-5 col-md-8">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>
                            @item.TenTS
                        </h1>
                        <p>
                            @item.Giaban Đ
                        </p>
                        <a href="@Url.Action("Details","TraSua",new {id=item.MaTS})" class="btn_2">Details</a>
                    </div>
                </div>
            </div>
            <div class="banner_img d-none d-lg-block">
                <img src="~/img/@item.Anhbia" alt="Hình ảnh">
            </div>
        </div>
    </div>
}

